<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="jumbotron">
				<h2>
					Welcome to my Profile page!
				</h2>
				<p>
					This is where im going to write a short itroduction to this page.
				</p>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h2>
						Lorem ipsum pragraph 1
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus eget neque varius sollicitudin. Nulla non leo hendrerit, viverra nibh aliquet, consectetur tortor. Integer pharetra diam sit amet lobortis sollicitudin. Duis commodo maximus imperdiet. Integer varius bibendum quam non sagittis. Fusce lobortis sem et mi vestibulum, ut ornare purus egestas. Donec lacus magna, sagittis nec sodales iaculis, molestie non nibh. Praesent iaculis tincidunt gravida. Nam ullamcorper pretium ipsum nec facilisis.
					</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>
						Lorem ipsum pragraph 2
					</h2>
					<p>
						Nulla ullamcorper erat sit amet dolor vehicula, sed malesuada eros iaculis. Cras porttitor accumsan lectus, id sollicitudin urna pretium sed. Ut tincidunt dolor ultrices varius venenatis. Integer sed ante sed est hendrerit congue nec ac ligula. Etiam vel massa tempus, condimentum felis pulvinar, cursus neque. Quisque ornare quis sem eu ornare. Duis non auctor tortor. Duis et imperdiet nunc, sed blandit libero. Proin dolor magna, sodales semper mauris et, congue auctor libero. Aenean molestie mollis sapien sit amet interdum.
					</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>
						Lorem ipsum pragraph 3
					</h2>
					<p>
						Nam elit lorem, congue et libero in, tempor faucibus metus. Aenean vel elit eget risus semper cursus at nec turpis. Duis blandit convallis ante, ac lobortis nisi imperdiet ut. Nulla ultricies libero libero, tristique blandit tellus aliquam congue. Maecenas pellentesque enim sed pretium tincidunt. Proin efficitur odio a sodales dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					</p>
				</div>
			</div>
		</div>
	</div>
</div>